$font-cjk:    			'Microsoft YaHei', 'STXihei';
$font-base:    			'Source Sans Pro', $font-cjk, serif;

$font-primary:			'Work Sans', $font-cjk, serif;
$font-secondary:		'Roboto Mono', $font-cjk, monospace;

$op-blue: 				#3E8FDE;
$op-green: 				#144732;

$color-primary: 		$op-blue;
$color-primary-dark:	darken($color-primary,45%); 
$color-secondary: 		$op-green;

$color-base: 			desaturate($op-blue,75%); 
$color-light:			#fff;
$color-dark:			#000;

$transition-default:	all 0.3s cubic-bezier(0, 0, 0.2, 1);
$nav-menu-height:		3.75rem;


