@import "mfk.scss";



	





body { 
font: 15px/1.5 $font-base; 
color: $color-base;
background: $color-primary-dark;
}


h1, h2, h3, h6, 
button, 
strong, b,
ul.nav-menu 			{ font-family: $font-primary; }

h1, h2					{ font-weight: 300; }
h3, button, 
b, strong,
ul.nav-menu				{ font-weight: 700; }

h1, h2					{ font-size: 2.50rem; }
h3						{ font-size: 1.75rem }
h6						{ font-size: inherit }

h1, h2, h3, h6			{ color: $color-primary; }

a, a:focus, a:hover { 
color: $color-primary;
text-decoration: none;
}





#header {
background: rgba($color-primary,0.98);
border-bottom: 1px rgba($color-light,0.15) solid;
color: $color-light;
z-index: 2;
position: fixed;
width: 100%;
height: $nav-menu-height;
align-items: center;

	#logo a { 
		display: inline-block;
			img {
			max-width: 100%;
			height: 1.25rem;
			}
		}

	.material-icons {
	display: flex;
	float: right;
	cursor: pointer;
	}




	



}


	#nav-menu-container {
		ul.nav-menu {
		padding: 0;
		margin: 0;
		text-align: right;
			li {
			display: inline;
			margin-left: 0.75rem;
			list-style: none;
			transition: $transition-default;
				a {
				transition: inherit;
				color: $color-light;
				display: inline-block;
				opacity: 0.25;
				}
				a:hover,
				&.current-menu-item a {
				opacity: 1;
				}

			}
		}
	}


.entry-content {
	
	
	> .wpb_row:nth-child(1) {
	padding-top: 3rem + $nav-menu-height;
	}
	
	> .wpb_row:nth-child(1),
	> .wpb_row.background-blue, 
	> .wpb_row.background-green { 
		background:  $color-primary;
		color: $color-light;
		border: none;
		
			h1, h2, h3 { color: $color-light }
			h6 { color: inherit }
			.vc_btn3 {
			background: inherit !important;
			color: $color-light !important;
			border-color: $color-light !important;
			}
			.vc_btn3:hover {
			background: $color-light !important;
			color: $color-primary !important;
			}
	}
	> .wpb_row.background-green { 
			background:  $color-secondary;
			.vc_btn3:hover {
			background: $color-light !important;
			color: $color-secondary !important;
			}
	}


	
	> .wpb_row:nth-child(1),
	> .wpb_row.jquery-last {
	h1, h2	{ 
	font-size: 3rem; 
	}
	}	
	
		
	> .vc_vc_row > .wpb_row,
	> .wpb_row {
		padding: 3rem 0 calc(3rem - 35px);
		border-bottom: 1px #eee solid;
		background: $color-light;
		/* transition: $transition-default; */

	}
	> .wpb_row:nth-last-child(2) {
		border: none
	}
	.has-icons {
		img { max-width: 75% }
	}
	
	
	
	.vc_btn3 {
    background: none !important;
    background: inherit !important;
	color: $color-primary !important;
    border-color: $color-primary !important;
	font-size: inherit !important;
	padding: 0.75rem 1rem;
	}
	.vc_btn3:hover {
	background: $color-primary !important;
	color: #fff !important;
	}
}


@media (max-width: 991px) {
		.container { width: 100% } 

		#nav-menu-container {
		position: fixed;
		top: $nav-menu-height;
		height: 100%;
			&:before{
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			background: rgba($color-primary-dark,0.98);
			position: absolute;
			top: 0; right: 0;  bottom: 0;left: 0;
			z-index: -1;
			}
			ul.nav-menu {
			padding:  0.75rem 0;
			text-align: left;
				li {
				display: block;
				margin: 0;
					a {
					padding:  0.75rem 0;
					}
				}
			}
		}
	}

@media (min-width: 600px) {




	.entry-content {
		
		> .wpb_row:nth-child(1),
		> .wpb_row.jquery-last 	{
			h1, h2 {
			font-size: 3.5rem; 
			}
		}
		> .wpb_row {
			h1, h2	{ 
			font-size: 2.75rem; 
			}
		}
		> .vc_vc_row > .wpb_row,
		> .wpb_row {
		padding: 6rem 0 calc(6rem - 35px);
		}
		
	}






}



@media (min-width: 768px) {



/* STRUCTURE */
	#main-content::before{
	content: none;
	}


.entry-content {
	
	
	
	> .wpb_row:nth-child(1) {
	padding-top: 6rem + $nav-menu-height;
	}
	
	
	
}

}

